/*Sikrer at padding og margin er med i den totale width og height af elementerne */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Her er der layout på fonts i alle a tags*/

@media only screen and (max-width: 425px) {
    #grass {
        width: 100%;
    }
    
    a {
        font-family: 'Rajdhani', sans-serif;
        /*mangler medium*/
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        text-transform: uppercase;
    }
}
