/*Sikrer at padding og margin er med i den totale width og height af elementerne */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* dropdown menu til mobil */ 
@media only screen and (max-width: 426px) {
    /* mobil navigationsbar*/
    /*Selve kasserne (inkl) billeder og deres placering*/
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0% 2% 2%;
        height: 8%;
        width: 100%;
        position: fixed;
        background-color: white;
        z-index: 5;
    }

    .topLeft {
        width: 50%;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    .topLeft img {
        width: 100%;
        height: 100%;
    }


    .dropbtn {
        width: 20%;
        background-color: transparent;
        border: none;
        padding: 2%;
    }

    .dropbtn img {
        width: 100%;
        height: 100%;
    }


    /*Indholdet i dropdown menuen*/
    .dropdown-content {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        left: 0;
        top: 8%;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        padding: 4% 0%;
        width: 100%;
        font-family: 'Rajdhani', sans-serif;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.7em;
    }

    .soMe {
        display: flex;
        justify-content: space-between;
        padding: 8% 0% 0%;
        width: 100%;
    }

    .soMe img {
        width: 60%;
    }


    /*Hover funktion på alle a punkter i dropdown menu*/
    .uPunkt:hover {
        color: white;
        background-image: url(icons/tr%C3%A6-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #tel:hover,
    #mail:hover,
    #linkedin:hover {
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #tel:hover {
        background-image: url(icons/menu-iconer/ring/Ring-icon-hover.png);
    }

    #mail:hover {
        background-image: url(icons/menu-iconer/kontakt/Besked-menu_hover.png);
    }

    #linkedin:hover {
        background-image: url(icons/menu-iconer/linkedin/Linkdin-menu_hover.png);
    }
}

/* Dropdown og ovenstående kode inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/

/* Menubar til pc */
@media only screen and (min-width: 427px) {
        /* Alle de ting der ikke skal vises - såsom soMe iconer og hamburgermenuen */
    .dropbtn {
        display: none;
    }
    .soMe {
        display: none;
    }
    
    /* rent faktisk layout af nav og navs indhold*/
    nav {
        display: flex;
        justify-content: space-between;
        padding: 1% 0% 1%;
        height: 70px;
        width: 100%;
        position: fixed;
        background-color: white;
        z-index: 5;
    }

    .topLeft {
        width: 25%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-left: 1%
    }

    .topLeft img {
        width: 100%;
        height: 100%;
    }
    
    .dropdown-content {
        display: flex;
        width: 75%;
        padding-left: 1%;
    }
    
    .dropdown-content a {
        width: 100%;
        height: inherit;
        font-family: 'Rajdhani', sans-serif; 
        font-size: 2.2em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: black;
    }


    /*Hover funktion på alle a punkter i dropdown menu*/
    .uPunkt-klik {
        background-image: url(icons/tr%C3%A6-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    } 
    
    .uPunkt-klik p {
        color: white;
        text-shadow: 0px 6px 5.4px rgba(0, 0, 0, 0.71);
    }
}

/* Dropdown og ovenstående kode inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*
}