/* styleshiiit*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
------ Mobilstørrelse
- Fonte
- Main
- Footer
------ Desktop
- Fonte
- Main
- Footer
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 426px) {

    a,
    h1 {
        font-family: 'Rajdhani', sans-serif;
        text-decoration: none;
        /*mangler medium*/
    }

    h1 {
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 0px 6px 5.4px rgba(0, 0, 0, 0.71);
        font-size: 2.7em;
        /*Hjælp: Photoshop: css*/
        /*Hjælp fra: http://www.melanieceraso.com/psd-to-css3/*/
    }

    p,
    label,
    .btn {
        font-family: 'Open Sans Condensed', sans-serif;
    }

    /*----------------------------------- overskrift*/
    .overskrift {
        background-image: url(image/bark.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 4% 0%
    }

    main {
        width: 100%;
        padding-top: 15%;
    }

    /*---------------------------------------------Main*/
    #slideshow {
        position: relative;
        width: 100%;
    }

    #slideshow > div {
        position: absolute;
        padding: 10px;
    }


    .slides {
        width: 100%;
        max-height: 20%;
    }

    aside {
        width: 100%;
    }

    .galleri {
        margin-top: 70%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20%;
    }

    .gallpic {
        width: 100%;
    }

    .square {
        margin: 5%;
        background-color: #faf2f2;
    }

    .galleri p {
        background-color: #faf2f2;
        text-align: center;
    }

    .galleri p {
        color: black;
    }
}

@media only screen and (min-width:427px) {
    a,
    h1 {
        font-family: 'Rajdhani', sans-serif;
        text-decoration: none;
        /*mangler medium*/
    }

    h1 {
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 0px 6px 5.4px rgba(0, 0, 0, 0.71);
        font-size: 2.7em;
        /*Hjælp: Photoshop: css*/
        /*Hjælp fra: http://www.melanieceraso.com/psd-to-css3/*/
    }

    p,
    label,
    .btn {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    

    /*----------------------------------- overskrift*/
    .overskrift {
        background-image: url(image/bark.png);
        background-size: cover;
        background-position: center;
        padding: 5% 10%;
        width: 50%;
        height: 20%;
    }

    main {
        width: 100%;
        padding-top: 2%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    /*---------------------------------------------Main*/
    #slideshow {
        position: relative;
        width: 100%;
    }

    #slideshow > div {
        position: absolute;
        padding: 0% 0.5%;
    }


    .slides {
        width: 100%;
        height: auto;
    }
    
    #slideshow img {
        height: 500px;
    }

    aside {
        width: 100%;
    }

    .galleri {
        margin-top: 500px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .gallpic {
        width: 100%;
        height: 300px;
    }

    .square {
        margin: 5%;
        background-color: #faf2f2;
    }

    .galleri p {
        background-color: #faf2f2;
        text-align: center;
        font-size: 1.5em;
        color: black;
    }
}
