/*Sikrer at padding og margin er med i den totale width og height af elementerne */

* {
    box-sizing: border-box;
}

/* Breakpoints til mobilefirst */

[class*="col-"] {
    width: 100%;
}

a, h1 {
    font-family: 'Rajdhani', sans-serif;
    /*mangler medium*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 120px;
    text-transform: uppercase;
    /*Hjælp: Photoshop: css*/
    /*Hjælp fra: http://www.melanieceraso.com/psd-to-css3/*/
}


/* mobil navigationsbar*/
nav img {
    width: 100%;
    height: 80px;
    padding: 0px;
}



.topLeft {
    background-color: transparent;
    border: none; 
    width: 50%;
    float: left;
}

.dropBtn {
    background-color: transparent;
    border: none;
    float: right;
    height: 80px;
    width: 100%;
    background-image: url(Icons/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.dropBtn:hover,
.dropBtn:focus {
    background-color: transparent;
}

.topRight {
    position: relative;
    width: 10%;
    float: right;
  
}

.dropdown-content {
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    left: 0;
    top: 85px;
    z-index: 1;   
}

.soMe {
    display: flex;
    justify-content: space-between;
    margin: 2% 10%;
}

.dropdown-content a {
    color: black;
    font-family: 'Rajdhani', sans-serif; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.topRight a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

/* Dropdown og ovenstående kode inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/

