* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 10%;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    /*mangler medium*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 0px 6px 5.4px rgba(0, 0, 0, 0.71);
    /*Hjælp: Photoshop: css*/
    /*Hjælp fra: http://www.melanieceraso.com/psd-to-css3/*/
}


#trapezoid {
	border-bottom: 425px solid #39a234;
	border-left: 60px solid black;
	border-right: 60px solid black;
    width: 425px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
    z-index: 0;
}
/*https://css-tricks.com/examples/ShapesOfCSS/*/